<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" href="../public/styling/style.css">
</head>

<body>
    <form class="ui">
        <h3>Movie Search:</h3>
        <input id="termBox" type="text" placeholder="Film">
        <input id="submit" type="submit" value="Submit">
    </form>
    <section class="container">
        <div>
            <img src='https://image.tmdb.org/t/p/w300/{{results.0.poster_path}}' alt="Movie Poster">
            <h1>{{results.0.original_title}}</h1>
            <p>{{results.0.overview}}</p>
        </div>
        <div>
            <img src='https://image.tmdb.org/t/p/w300/{{results.1.poster_path}}' alt="Movie Poster">
            <h1>{{results.1.original_title}}</h1>
            <p>{{results.1.overview}}</p>
        </div>
        <div>
            <img src='https://image.tmdb.org/t/p/w300/{{results.2.poster_path}}' alt="Movie Poster">
            <h1>{{results.2.original_title}}</h1>
            <p>{{results.2.overview}}</p>
        </div>
        <div>
            <img src='https://image.tmdb.org/t/p/w300/{{results.3.poster_path}}' alt="Movie Poster">
            <h1>{{results.3.original_title}}</h1>
            <p>{{results.3.overview}}</p>
        </div>
        <div>
            <img src='https://image.tmdb.org/t/p/w300/{{results.4.poster_path}}' alt="Movie Poster">
            <h1>{{results.4.original_title}}</h1>
            <p>{{results.4.overview}}</p>
        </div>
        <div>
            <img src='https://image.tmdb.org/t/p/w300/{{results.5.poster_path}}' alt="Movie Poster">
            <h1>{{results.5.original_title}}</h1>
            <p>{{results.5.overview}}</p>
        </div>
        <div>
            <img src='https://image.tmdb.org/t/p/w300/{{results.6.poster_path}}' alt="Movie Poster">
            <h1>{{results.6.original_title}}</h1>
            <p>{{results.6.overview}}</p>
        </div>
        <div>
            <img src='https://image.tmdb.org/t/p/w300/{{results.7.poster_path}}' alt="Movie Poster">
            <h1>{{results.7.original_title}}</h1>
            <p>{{results.7.overview}}</p>
        </div>
    </section>
    <script src="../public/js/script.js"></script>
</body>
</html>